.browserupgrade {
  background-color: $gray-lighter;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: $gray-light;
}

.js-disclaimer {
  background-color: $gray-lighter;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: $gray-light;
}