.topbar {
  position: relative;
  height: $topbar-height;
  background-color: $topbar-bg;
  margin-bottom: $topbar-margin-bottom;

  @media (min-width: $screen-sm-min) {
    margin-bottom: $topbar-margin-bottom-sm;
  }

  @include clearfix();
}

.topbar-brand,
.topbar-slogan {
  float: left;
  font-size: $font-size-large;
  padding: $topbar-padding-vertical 0;
  color: $topbar-brand-color;
  margin: 0;
}

.topbar-brand {
  width: 220px;
  padding: 10px 0;
  
  @media (min-width: $screen-sm-min) {
    width: 130px;
    padding: 20px 0;
  }

  &__link {
    display: block;
  }
  
  &__logo {
    max-width: 100%;
    display: block;
  }
}

.topbar-slogan {
  display: none;
  padding-left: $topbar-padding-horizontal;
  padding-right: $topbar-padding-horizontal;

  @media (min-width: $screen-sm-min) {
    display: block;
  }

}

.topbar-slogan{
  padding-top: ($topbar-padding-vertical * 1.6);
}

.topbar-text{
  padding: $topbar-padding-vertical 0;
  float: right;
}

.topbar-text__contacts,
.topbar-text__lang {
  float: left;
}

.topbar-text__contacts {
  display: none;

  @media (min-width: $screen-sm-min) {
    display: block;
  }
}

.topbar__phone {
  display: block;
  @extend .lead;
}

.topbar-text__lang {
  margin-left: 1em;
}

#nevatrip-logo g.subtitle {
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}