/*!
 * Topbars
 *
 * Wrapper and base class
 * Provide a static topbar from which we expand to create full-width, fixed, and
 * other topbar variations.
 */

.topbar {
  position: relative;
  height: $topbar-height; // Ensure a topbar always shows (e.g., without a .topbar-brand in collapsed mode)
  background-color: $topbar-bg;
  overflow: hidden;
  margin-bottom: $topbar-margin-bottom;

  @media (min-width: $screen-sm-min) {
    margin-bottom: $topbar-margin-bottom-sm;    
  }

  // Prevent floats from breaking the topbar
  @include clearfix();
}

// Brand/project name

.topbar-brand,
.topbar-slogan {
  float: left;
  padding: $topbar-padding-vertical $topbar-padding-horizontal;
  font-size: $font-size-large;
  color: $topbar-brand-color;
}

.topbar-slogan{
  padding-top: ($topbar-padding-vertical * 1.6);
}

.topbar-text{
  padding: $topbar-padding-vertical $topbar-padding-horizontal;
}

.topbar__phone {
  display: block;
  @extend .lead;
}