<footer class="footer">
  <div class="container footer__contacts">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <span itemprop="email"><a href="mailto:info@nevatrip.ru" target="_blank">info@nevatrip.ru</a></span>
      </div>
      <div class="col-sm-4">
        <span itemprop="telephone"><a href="tel:88129653404">8 812 965-34-04</a></span>
      </div>
    </div>
  </div>

  <div class="footer__disclaimer">
    <div class="container">
      &copy; 2014-2015, ООО "Про Событие", ИНН 7802873242, КПП 780201001, ОГРН 1147847350133. Санкт-Петербург, Манежный пер. 10
    </div>
  </div>
</footer>