<div class="navbar navbar-inverse" id="NavScrollSpy" data-spy="affix" data-offset-top="83">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
        <span class="sr-only">Меню</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav nav-justified">
        <li>
          <a href="#day">
            <span class="lead">Дневные экскурсии</span>
            <div class="nav-link__subtitle">по рекам и каналам Петербурга</div>
          </a>
        </li>
        <li>
          <a href="#night">
            <span class="lead">Ночные прогулки</span>
            <div class="nav-link__subtitle">под развод мостов</div>
          </a>
        </li>
        <li>
          <a href="#meteors">
            <span class="lead">Метеор</span>
            <div class="nav-link__subtitle">в Петергоф и пригороды</div>
          </a>
        </li>
        <li>
          <a href="#arenda">
            <span class="lead">Аренда теплохода</span>
            <div class="nav-link__subtitle">на свадьбу, корпоратив</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>