<div class="js-disclaimer">
  <div class="container">
    <h3>:(</h3>
    <p class="lead">О, ужас! У вас отключен <abbr title="JavaScript — это язык сценариев, с его помощью мы упрощаем работу с HTML-страницей и делам её более красивой и&nbsp;отзывчивой.">JavaScript</abbr>!</p>
    <p>Мы не ожидали этого, поэтому не можем гарантировать стабильную работу сайта.</p>
    <p>Вот <a href="//www.enable-javascript.com/ru/" class="dotted" target="_blank">инструкция</a>, как включить JavaScript в вашем браузере.</p>
  </div>
</div>