<div class="topbar" id="TopBar">
  <div class="container">
    <h1 class="topbar-brand">
      <a href="/">
        <img src="<!-- @echo homepage -->assets/img/nevatrip_logo_h.png" srcset="<!-- @echo homepage -->assets/img/nevatrip_logo_h_x2.png 2x" alt="Nevatrip" itemprop="logo">
      </a>
    </h1>
    <div class="topbar-slogan hidden-xs">Лучшие водные экскурсии по Петербургу</div>
    <div class="topbar-text text-right">
      <a href="mailto:info@nevatrip.ru" target="_blank">info@nevatrip.ru</a>
      <a href="tel:88129653404" class="topbar__phone">8 812 965-34-04</a>
    </div>
  </div>
</div>