<div class="topbar" id="TopBar">
  <div class="container">
    <h1 class="topbar-brand">
      <a href="/" class="topbar-brand__link">
        <!-- @include ../../images/common/logo.svg -->
      </a>
    </h1>

    <div class="topbar-slogan">Лучшие водные экскурсии по Петербургу <a href="#">Почему?</a></div>
    <div class="topbar-text text-right">
      <div class="topbar-text__contacts">
        <a href="mailto:info@nevatrip.ru" target="_blank">info@nevatrip.ru</a>
        <a href="tel:88129653404" class="topbar__phone">8 812 965-34-04</a>
      </div>
      <div class="topbar-text__lang">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <img src="http://babeholder.pixoil.com/img/30/30/ct/?1234567890aaa" class="img-circle" alt="">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="en"><img src="http://babeholder.pixoil.com/img/30/30/ct/?1234567890aab" class="img-circle" alt=""> English</a></li>
            <li><a href="ch"><img src="http://babeholder.pixoil.com/img/30/30/ct/?1234567890aac" class="img-circle" alt=""> 中国</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>